.selectedContainer {
  flex: 0.25;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 0.5em;
}

.container {
  margin-left: 240px;
  flex: 1;
  padding: 12px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  row-gap: 40px;
  column-gap: 16px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
